@font-face {
        font-family: Roboto;
        src: url("assets/fonts/Roboto-Thin.ttf");
      }

.my-image {
        background-image: url("../rsschool-cv/IMG.jpg");
    }

.body {
        font-family: 'Roboto', sans-serif;
}

* {
        box-sizing: border-box;
      }
